# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\var\intellij-workspace\jrelex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
